.epk3-tpl section {
    padding: 0;
}
.epk3-tpl .tab3-info .bar-title{
    float:left;
    padding: 0 5px;
    width: 15%;
}
@media (min-width: 768px){
   .dl-horizontal dd {
        margin-left: 75px;
    } 
}
.stats_container h4, .stats_container p.info {
    padding-bottom: 10px;
}
.stats_container .demographic_stats {
    float: left;
    width: 100%;
}
.center_stat_column table {
    width: 100%;
}
.stats_container td {
    border-bottom: 1px solid #ccc;
}
.stats_container td span {
    color: #000;
}
.stats_container .right_percentage {
    text-align: right;
    padding-left: 0;
}
.tab3-stats .progress-transparent-black {
    margin-bottom: 0px;
    height: 11px
}
.tab3-stats .left_percentage .progress-bar {
    float: right;
}
.tab3-stats table td{
    padding: 3px 0px;;
}
.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #2390FF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #76B9FC;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #2390FF;
    background-color: #2390FF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #2390FF;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #2390FF;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #2390FF;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #76B9FC;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: rgba(7, 5, 5, 0.73);
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
.epk3-tpl section{
     min-height: 100vh;
     padding-top: 70px;
}
.epk3-tpl #section4{
     padding-top: 135px;
}   
.epk3-tpl #section1 {
    height: auto;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url('../../images/Banjoe Player against wall.jpg');
    color:#fff;
}
.epk3-tpl #section3 {
    height: auto;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url('../../images/gibson_guitar-wallpaper-1366x768.jpg');
    color:#fff;
}
.epk3-tpl #section2 {
    height: auto;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    color:#fff;
    background-color: #201F1F;
}
.epk3-tpl #section6 {
    height: auto;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url('../../images/musicimage.jpg') ;
    color:#fff;
    min-height: 50vh;
}
.epk3-tpl #section4 {
    height: auto;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    color:#fff;
    min-height: 50vh;
}
.epk3-tpl #section5 {
    height: auto;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    color:#fff;
    min-height: 50vh;
}
.epk3-tpl #section7 {
    height: auto;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url('../../images/bg.jpg') ;
    color:#fff;
    min-height: 50vh;
}
@media (min-width: 920px)       
{
    section {
        background-size: 100%;
    }
    
}
@media (min-width: 992px)       
{
    #section2 .photo-epk3 {
        padding: 5px;
    }
    
}
.epk3-tpl #section8 {
    min-height: 5vh;
    padding-top: 10px;
    background-color: #282828;
    
}
.epk3-tpl #section8  h5{
    float:left;
    padding-right: 20px;
    color: #fff;
}
.epk3-tpl #section8  a{
    padding: 0 10px;
    text-decoration: none;
    color:#fff;
}
.epk3-tpl #section8  a:hover{
    color: #337ab7;
}
.epk3-tpl #section8  .btn-default{
    color: #337ab7;
}
#contact .checkbox{
    padding: 0 20px;
    float: left;
    margin-top: 0;
} 
#demographics .innerLineChart{
    height: 15px;
    background: #2184BE;
}
#photo .song_box .sortable {
    padding: 10px;
    max-height: 350px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}
#photo .song_box .sortable li {
    width: auto;
    height: auto;
    border-bottom: 1px solid #d7d7d7;
    position: relative;
    padding: 7px;
}
#photo .song_box .sortable li a {
    color: #333;
}
