#plan-upgrade .package {
  box-sizing: border-box;
  width: 100%;
  min-height: 380px;
  border: 3px solid #e8e8e8;
  border-radius: 7px;
  display: inline-block;
  padding: 24px;
  text-align: center;
  float: left;
  -webkit-transition: margin-top 0.5s linear;
  transition: margin-top 0.5s linear;
  position: relative;
  margin-bottom: 30px;
  color: #CCC8C8;
  background: rgba(0, 0, 0, 0.58);
}
#plan-upgrade .package:hover {
  margin-top: -30px;
  
  -webkit-transition: margin-top 0.3s linear;
  transition: margin-top 0.3s linear;
}
#plan-upgrade .name {
  color: #EFEFEF;
  font-weight: 300;
  font-size: 3rem;
  margin-top: -5px;
}
#plan-upgrade .price {
  margin-top: 7px;
  font-weight: bold;
}
#plan-upgrade .price::after {
  content: " / month per user";
  font-weight: normal;
}
#plan-upgrade hr {
  background-color: #dedede;
  border: none;
  height: 1px;
}
#plan-upgrade .trial {
  font-size: .9rem;
  font-weight: 600;
  padding: 2px 21px 2px 21px;
  color: #33c4b6;
  border: 1px solid #e4e4e4;
  display: inline-block;
  border-radius: 15px;
  background-color: white;
  position: relative;
  bottom: -15px;
}
#plan-upgrade ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 29px;
}
#plan-upgrade li {
  margin-bottom: 15px;
}
#plan-upgrade .checkIcon {
  font-family: "FontAwesome";
  content: "\f00c";
}
#plan-upgrade li::before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 1.3rem;
  color: #33c4b6;
  margin-right: 3px;
}
#plan-upgrade .brilliant {
  border-color: #33c4b6;
}
/* Triangle */
#plan-upgrade .brilliant::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 64px 64px 0 0;
  border-color: #3bc6b8 transparent transparent transparent;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}
#plan-upgrade .brilliant::after {
  font-family: "FontAwesome";
  content: "\f00c";
  color: white;
  position: absolute;
  left: 9px;
  top: 6px;
  text-shadow: 0 0 2px #37c5b6;
  font-size: 1.4rem;
}