
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
    margin-bottom: 8px;
}

footer {
    margin: 50px 0;
}
.navbar-brand > img {
    height: 40px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.active > a,.navbar-nav li:hover{
	background:#f49f22 !important;
}
.nav.navbar-nav {
    padding: 20px 0;
}
.full-background > img{
	width:100%;
}
.nav.navbar-nav > li{
	margin-right:10px;
}
.nav.navbar-nav > li:last-child{
	margin:0px;
}
.full-under-bg {
    position: relative;
}
.profile-pic {
    height: 130px;
    width: 200px;
	position:relative;
}
.profile-pic > img {
    border: 2px solid hsl(0, 0%, 80%);
    padding: 5px;
    width: 100%;
	height:190px;
	position:absolute;
	top:-70px;
}
.big-title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
	color:#1c1c1c;
}
.sub-title {
    color: hsl(60, 1%, 70%);
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}
.list-inline li a{
	color:#514f50;
}
.list-inline {
    margin: 10px 0 0 -10px !important;
}
.button-share a,.button-fan a{
	color:#fff;
}
.button-share a:hover,.button-fan a:hover{
	text-decoration:none;
}
.button-share {
    float: right;
    margin-right: 20px;
	background:#242423;
	color:#fff;
	padding:5px 10px;
	text-transform:uppercase;
	font-weight:bold;
}
.button-fan {
    float: right;
	background:#f49b1a;
	color:#fff;
	padding:5px 10px;
	text-transform:uppercase;
	font-weight:bold;
}
.separate-buttons{
	margin-top:30px;
}
.removepadr{
	padding-right:0px;
}
.removepadrl{
	padding-left:0px;
}
.page-header{
	text-transform:uppercase;
	font-weight:bold;
	border-width:2px;
}
.full-footer{
	background:#333;
}
.header-border-bot {
    position: absolute;
    z-index: 1;
    bottom: -29px;
    left: 0;
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid dashed solid dashed;
    border-width: 30px 960px 0 960px;
    border-color: #ffffff transparent transparent transparent;
}
.header-border-bot {
    border-color: #222 transparent transparent transparent;
}
.portfolio_main .bot-border-left {
    border-color: #000000 transparent transparent transparent;
}
.bot-border-left {
    border-top-width: 30px;
    border-right-width: 575px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-color: #23b9c7 transparent transparent transparent;
    float: left;
}
footer{
	color:#fff;
}
.margbot20{
	margin-bottom:30px;
	padding-top:30px;
}
.foot-title {
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.foot-cont ul{
	padding:0px;
}
.foot-cont a{
	color:#fff;
}
footer {
    float: left;
    margin: 25px 0;
    text-align: center;
    width: 100%;
}
.foot-cont .col-sm-4 {
    padding-bottom: 20px;
    padding-left: 0;
}
.img-responsive.portfolio-item {
    height: 176px;
}
.blog-title {
    color: hsl(36, 91%, 53%);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.blog-content {
    text-align: justify;
}
.sp-center{
	text-align:center;
	margin:10px 0;
}
.full-blog-btn > a {
    background: #f39b1a;
    color: hsl(0, 0%, 100%);
    float: left;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 25px;
    padding: 5px 30px;
}
@media (max-width: 768px) {
	.profile-pic{
		height:80px;
	}
	.separate-buttons{
		width:215px;
	}
	.profile-pic > img{
		height:auto;
		width:70%;
		top:-40px;
	}
	.nav.navbar-nav > li:last-child{
		margin-right:10px;
	}
}
@media (max-width: 350px) {
	.profile-pic > img{
		width:60%;
	}
	.profile-pic{
		height:60px;
	}
	.col-sm-3.col-xs-12{
		margin-bottom:10px;
	}
}