.bg-landing{
    background: url('../../images/bg/android-in-bubble-hd-wallpaper-141_PFuazt2.jpg') fixed;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0);
}
.bg-lg-ct{
    background: none !important;
}
.avata_landing{
    background:whitesmoke;
    min-height:144px;
    max-height: 144px;
    width: 150px;
	margin-bottom:16px;
}
.pro-img-1{
    position: absolute;
    bottom: -3px;
}
.mb1-blog-img{
    float: left;
    margin-right: 5px;
}

.profile-landing h1 {
    font-weight: bold;
    color: #fff;
    font-size: 26px;
	margin:26px 0px 6px 0px;
}

.profile-landing span {
    font-size: 16px;
    color: #fff;
}

.pro-img-2{
    margin-left: 163px;
    padding-top: 55px;
}
.profile-landing .mg{
    margin-left: 10px;
}
.info_social{
    position: absolute;
    z-index: 2;
    bottom: 0px;
    right: 0px;
    text-align: right;
    color: #fff;
    padding: 3px;
}
.info_social a{
    float: right;
    margin: 16px 6px;
}
.part_session{
    padding: 16px;
    margin: 16px 0 0 0;
    background: #fff;
	box-shadow: 6px 6px 21px #101010;
	border-radius:4px 4px 0px 0px;
}
  

.padding_left{
    padding-left: 0px;
}
.profile-maxheight{
    width: 100%;
    padding: 0px;
    overflow: hidden;
    min-height: 350px;
    max-height: 350px;
    background-color:#848484;
}
.remove_padding{
    padding: 0px;
}
.photos_session .col-md-12 .col-md-4{
    padding: 3px;
}
.photos_session .col-md-12 .col-md-4 img{
    width: 100%;
}
.icon_part{
    width: 30px;
    position: relative;
    top: -2px;
}
.photos_session h2{
    margin-top: 7px;
    margin-left: 10px;
}
.photos_session h2 a{
    color: #000;
}
.liner_landing{
    display: block;
    width: 100%;
    margin: -1px 0px 16px 0px;
}
.header_new_style h2.tt {
    padding: 6px 8px;
    margin: 0;
    border: 1px solid #ccc;
    font-family: oswaldlight;
    font-size: 18px;
    text-decoration: none;
    display: block;
    background: #efefef;
	border-radius:4px;
	margin-top:10px;
}

.header_new_style h2.tt a:hover {
	text-decoration:none;
	color:#ef1c1c;
}

.remove_part{
    background: url('../../images/icon/cancel-icon.png') no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 2px;
    top: 6px;
    cursor: pointer;
    display: none;
    z-index: 99;
}
.status_view{
    padding-right: 20px;
}
.clearfix_check{
    clear: both;
}
.wp_content_list{
    margin: 3px 0;
    padding: 8px 0;
    border-bottom: 1px solid #c1c1c1;
}

.wp_content_list i {
	color:#ef1c1c;
}
.header_new_style .wp_content_list:last-child{
    border: none;
}
.padding_right{
    padding-right: 0px;
}
.image_fix_value{
    width: 125px;
    height: 125px;
    background-position: 50% 25% !important;
    background-size: cover !important;
    transition-duration: 500ms;
    transition-property: width, height;
    cursor:  pointer;
}
.image_fix_value_video{
    width: 110px;
    height: 110px;
    background-position: 50% 25% !important;
    background-size: cover !important;
    transition-duration: 500ms;
    transition-property: width, height;
    cursor:  pointer;
}
.jp-type-playlist img{
    width: 100% !important;
}
.jp-video-270p{
    width: 100% !important;
}
.jp-jplayer{
    width: 100% !important;
}
.jp-video .jp-volume-controls{
    left: 3px !important;
}
.jp-video .jp-type-playlist .jp-controls{
    width: 137px !important;
    margin-left: 107px !important;
}
.jp-video .jp-toggles{
    right: 90px !important;
}
.header_new_style .panel-group .panel,.header_new_style .panel-heading{
    border-radius: 0px;
}
.header_new_style .panel-heading .panel-title a{
    text-transform: uppercase;
}
.header_new_style .panel-heading .panel-title a:hover{
    text-decoration: none;
}
.jp-playlist ul{
    padding: 0px !important;
}
.jp-playlist ul li a{
    text-transform: capitalize;
}
.content_video_title{
    text-transform: capitalize;
    padding: 5px 0;
    font-size: 16px;
    float: left;
}


/*   30August  */

span.ListName {
	color:#ef1c1c;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
}

span.ListName a {
	color:#ef1c1c;
}

span.ListName a:hover {
	color:#333;
	text-decoration:none;
}

span.DisName {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#777;
}

span.DisName a {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#777;
}

span.OtListName {
	color:#ef1c1c;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
}

span.OtListName a {
	color:#ef1c1c;
}

span.OtListName a:hover {
	color:#333;
	text-decoration:none;
}

.Dnew {
	background:#ef1c1c !important;
	border:none !important;
	color:#fff !important;
}

.Dnew:hover {
	background:#333;
	border:none;
	color:#fff !important;
}

.carousel-info img {
    border: 1px solid #ef1c1c;
    height: 56px;
    padding: 3px;
    width: 56px;
}
.carousel-info {
    overflow: hidden;
	margin-bottom:1em;
	border-bottom:1px solid #bfbfbf;
	padding-bottom:12px;
}

.carousel-info:last-child {
	border-bottom:none !important;
}
.carousel-info img {
    margin-right: 15px;
}
.carousel-info span {
    display: block;
}

.testimonials-name{
    color: #e6400c;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0px 0px 0px;
	line-height:20px;
	text-align:left;
}

.testimonials-name a {
	color: #ea4335;
}

.testimonials-name a:hover {
	text-decoration:none;
	color:#e00000;
}

.testimonials-post {
    color: #656565;
    font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 590px){
.pro-img-2 {
     margin-left: 0px !important; 
     padding-top: 0px !important;
	 text-align:center !important;
}

.pro-img-1 {
	margin:0px auto;
	position:absolute;
	left:20px;
	right:0;
}
}

