body {
  
  /*padding-top: 70px;*/
}

#calendar{
    height:550px;
}
.btn-cust{
    width:24%;
    display: inline-block;
    background-color:#3a87ad;
}
.btn-cust:hover,.btn-cust:active {
    background-color: #3d8fb5;
}

#map {
    width:600px;
    height:500px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.btn-default {
  color: #ffffff;
  background-color: #3e3f3a;
  border-color: transparent;
}
.btn-default:focus,
.btn-default.focus {
  color: #ffffff;
  background-color: #242422;
  border-color: rgba(0, 0, 0, 0);
}
.btn-default:hover {
  color: #ffffff;
  background-color: #242422;
  border-color: rgba(0, 0, 0, 0);
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #242422;
  border-color: rgba(0, 0, 0, 0);
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #ffffff;
  background-color: #121210;
  border-color: rgba(0, 0, 0, 0);
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #3e3f3a;
  border-color: transparent;
}
.btn-default .badge {
  color: #3e3f3a;
  background-color: #ffffff;
}
#label-tour {
    opacity:0.3;
}
.panel-destination{
    width:200px;
}
.list-destination{
   width: 200px;
}
.form-custom-control{
    width:92%;
}

.inline-form{
    font-size:12px;
}

/*Social Media*/

.social-media h1 {
    text-transform:uppercase;
    color:blue;
    font-weight:700;
}
.social-media  #post-to {
    color:blue;
    font-weight:bold;
}
.social-media span{
    color:blue;
    font-weight:bold;
    margin-left:5px;
}
#twitter #facebook #instagram #pinterest{
    margin-left:10px;
}
.textarea-post-status{
    border-radius:12px;
}
.btn-image {
      margin: 0 0 0 25px;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + span,
[type="checkbox"]:checked + span {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + span:before,
[type="checkbox"]:checked + span:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid blue;
 
  border-radius: 0px;
 /* box-shadow: inset 0 1px 3px rgba(0,0,0,.3)*/
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + span:after,
[type="checkbox"]:checked + span:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: blue;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + span:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + span:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + span:before,
[type="checkbox"]:disabled:checked + span:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + span:after {
  color: #999;
}
[type="checkbox"]:disabled + span {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + span:before,
[type="checkbox"]:not(:checked):focus + span:before {
  border: 1px dotted blue;
}

/* hover style just for information */
span:hover:before {
  border: 1px solid #4778d9!important;
}